In [1]:
# Import libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)

/opt/anaconda3/envs/python_course/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [5]:
median_salary_year = df['salary_year_avg'].median()

In [6]:
median_salary_hour = df['salary_hour_avg'].median()

In [8]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [9]:
df_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [10]:
df_unique = df_filled

In [12]:
df_unique = df_unique.drop_duplicates()

In [17]:
print("Length of original df: ", len(df_filled))
print("Length of dropped df: ", len(df_unique))
print("Length of difference: ", len(df_filled)-len(df_unique))

Length of original df:  785741
Length of dropped df:  785640
Length of difference:  101

In [20]:
df_unique = df_unique.drop_duplicates(subset = ['job_title', 'company_name'])
print("Length of original df: ", len(df_filled))
print("Length of dropped df: ", len(df_unique))
print("Length of difference: ", len(df_filled)-len(df_unique))

Length of original df:  785741
Length of dropped df:  508042
Length of difference:  277699

In [28]:
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

In [29]:
df_drop_salary = df.dropna(subset = ['salary_year_avg'])

In [33]:
print("Length of original df: ", len(df))
print("Length of dropped df: ", len(df_drop_salary))
print("Length of difference: ", len(df)-len(df_drop_salary))

Length of original df:  785741
Length of dropped df:  22003
Length of difference:  763738

In [32]:
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
rows_before = len(df)

df_cleaned = df.dropna(subset=['salary_year_avg'])
rows_after = len(df_cleaned)

rows_before, rows_after

(785741, 22003)

In [34]:
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df_drop_locations = df.drop_duplicates(subset = ['job_location'])
print("Length of original df: ", len(df))
print("Length of dropped df: ", len(df_drop_locations))
print("Length of difference: ", len(df)-len(df_drop_locations))

Length of original df:  785741
Length of dropped df:  17218
Length of difference:  768523

In [35]:
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

rows_before = df.shape[0]
df_unique = df.drop_duplicates(subset=['job_location'])
rows_after = df_unique.shape[0]
rows_before, rows_after

(785741, 17218)

In [41]:
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()


df_filled_salary['salary_rate'] = df['salary_rate'].fillna('Unknown')
df_filled_salary.loc[:10, 'salary_rate']

0     Unknown
1     Unknown
2     Unknown
3     Unknown
4     Unknown
5     Unknown
6     Unknown
7     Unknown
8     Unknown
9     Unknown
10    Unknown
Name: salary_rate, dtype: object

In [42]:
df['salary_rate'].head(10)

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: salary_rate, dtype: object