In [1]:
# Import libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)

/opt/anaconda3/envs/python_course/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."

In [4]:
df.tail()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [6]:
df.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
495763,Data Engineer,Director of Data Engineering,"Monrovia, CA",via LinkedIn,Full-time,False,"Texas, United States",2023-04-22 11:06:42,False,False,United States,None,NaN,NaN,Juvo+,"['sql', 'python', 'linux']","{'os': ['linux'], 'programming': ['sql', 'pyth..."
142488,Senior Data Engineer,Senior Data Engineer,Anywhere,via Totaljobs,Full-time,True,Portugal,2023-04-15 08:38:35,True,False,Portugal,None,NaN,NaN,Xcede UK,"['python', 'sql', 'aws', 'gcp', 'azure', 'dock...","{'cloud': ['aws', 'gcp', 'azure'], 'other': ['..."
82585,Data Analyst,Data Analyst - Hiring Immediately,"Warsaw, Poland",via GrabJobs,Full-time,False,Poland,2023-10-24 00:16:25,True,False,Poland,None,NaN,NaN,Adchitects Llc,"['tableau', 'clickup', 'slack', 'zoom']","{'analyst_tools': ['tableau'], 'async': ['clic..."
143215,Data Scientist,"data scientist, werkstudent","Neckarsulm, Germany",via BeBee,Full-time,False,Germany,2023-12-01 08:21:00,False,False,Germany,None,NaN,NaN,Schwarz Dienstleistung KG,"['python', 'spark']","{'libraries': ['spark'], 'programming': ['pyth..."
618763,Data Analyst,Data Analyst (m/w/d) Architekt Datenplattform,"Wuppertal, Germany",via XING,Part-time,False,Germany,2023-06-07 12:55:23,True,False,Germany,None,NaN,NaN,Tempton Next Level Experts GmbH,None,None
340167,Data Scientist,Principal Data Scientist,Anywhere,via AngelList,Full-time,True,Portugal,2023-01-13 23:24:11,False,False,Portugal,None,NaN,NaN,Coalition,None,None
557777,Business Analyst,Field Services Engineer,"Buenos Aires, Argentina",via BeBee,Full-time,False,Argentina,2023-10-18 04:34:00,True,False,Argentina,None,NaN,NaN,Emprego,None,None
649127,Business Analyst,Senior Market Analyst,Hong Kong,via Trabajo.org - Job Search - Jobs,Full-time,False,Hong Kong,2023-08-07 13:17:02,False,False,Hong Kong,None,NaN,NaN,Television Broadcasts Limited,None,None
456190,Data Engineer,"Data Engineer Venice, CA or Remote in Certain ...","Venice, Metropolitan City of Venice, Italy",via Lavoro Trabajo.org,Full-time,False,Italy,2023-06-21 14:45:15,False,False,Italy,None,NaN,NaN,JobLeads GmbH,"['python', 'html', 'aws', 'tableau', 'docker',...","{'analyst_tools': ['tableau'], 'cloud': ['aws'..."
32603,Data Analyst,MDM data analyst,"Richardson, TX",via Trabajo.org,Full-time,False,"Texas, United States",2023-03-18 13:02:11,False,False,United States,None,NaN,NaN,Infosys,"['c#', 'sql', 'sql server']","{'databases': ['sql server'], 'programming': [..."

In [9]:
df_original = load_dataset('lukebarousse/data_jobs')
df_original = dataset['train'].to_pandas()

In [11]:
df_altered = df_original.copy()

In [13]:
median_salary = df_altered['salary_year_avg'].median()

df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5, 'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [14]:
df_original.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [15]:
df_dropped_salary = df_original.copy()

In [20]:
df_dropped_salary = df_dropped_salary.dropna(subset = ['salary_year_avg'])

df_dropped_salary.head(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
28,Data Scientist,CRM Data Specialist,"San José Province, San José, Costa Rica",via Ai-Jobs.net,Full-time,False,Costa Rica,2023-08-01 13:37:57,False,False,Costa Rica,year,109500.0,NaN,Netskope,"['gdpr', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['gd..."
77,Data Engineer,Data Engineer,"Arlington, VA",via LinkedIn,Full-time,False,Sudan,2023-06-26 14:22:54,False,False,Sudan,year,140000.0,NaN,Intelletec,"['mongodb', 'mongodb', 'python', 'r', 'sql', '...","{'analyst_tools': ['tableau'], 'cloud': ['orac..."
92,Data Engineer,Remote - Data Engineer - Permanent - W2,Anywhere,via LinkedIn,Full-time,True,"Illinois, United States",2023-02-21 13:29:59,False,True,United States,year,120000.0,NaN,Apex Systems,"['sql', 'python']","{'programming': ['sql', 'python']}"
100,Data Scientist,"Data Scientist, Risk Data Mining - USDS","Mountain View, CA",via LinkedIn,Full-time,False,"California, United States",2023-07-31 13:01:18,False,True,United States,year,228222.0,NaN,TikTok,"['sql', 'r', 'python', 'express']","{'programming': ['sql', 'r', 'python'], 'webfr..."
109,Data Analyst,Senior Supply Chain Analytics Analyst,Anywhere,via Get.It,Full-time,True,"Illinois, United States",2023-10-12 13:02:19,False,True,United States,year,89000.0,NaN,Get It Recruit - Transportation,"['python', 'r', 'alteryx', 'tableau']","{'analyst_tools': ['alteryx', 'tableau'], 'pro..."

In [24]:
df_random = df_original.sample(frac = 0.1)
df_random.head(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
31202,Data Analyst,Data Analyst - Sutton Coldfield,United Kingdom,via WAVY Jobs,Full-time,False,United Kingdom,2023-07-25 13:16:25,True,False,United Kingdom,None,NaN,NaN,The Belfry,"['power bi', 'chef']","{'analyst_tools': ['power bi'], 'other': ['che..."
251175,Data Scientist,Data Scientist,"Vienna, VA",via ZipRecruiter,Full-time,False,"New York, United States",2023-04-14 07:02:47,False,False,United States,None,NaN,NaN,Zen Strategics LLC,"['python', 'r', 'spark', 'hadoop', 'git']","{'libraries': ['spark', 'hadoop'], 'other': ['..."
540981,Data Engineer,Data Core technical authority engineer,"Dublin, Ireland",via Trabajo.org,Full-time,False,Ireland,2023-05-13 20:01:54,False,False,Ireland,None,NaN,NaN,Vodafone,None,None
232155,Data Engineer,"Big Data Engineer, Intern - Now Hiring","Sunnyvale, CA",via Snagajob,Full-time,False,"Florida, United States",2023-01-16 07:48:13,False,True,United States,None,NaN,NaN,Yahoo!,"['hadoop', 'spark', 'kafka']","{'libraries': ['hadoop', 'spark', 'kafka']}"
693124,Data Engineer,Experienced Azure Data Engineer,Anywhere,via LinkedIn,Full-time,True,Romania,2023-11-22 10:25:42,False,False,Romania,None,NaN,NaN,I FUTURE,"['sql', 'python', 'azure', 'databricks', 'orac...","{'analyst_tools': ['ssis'], 'cloud': ['azure',..."

In [25]:
df_copy = df_original.copy()

In [26]:
median_salary = df_copy['salary_year_avg'].median()
median_salary

115000.0

In [27]:
df_copy['salary_year_avg'] = df_copy['salary_year_avg'].fillna(median_salary)

In [31]:
df_copy.loc[:5, 'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [32]:
df_copy.head(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,115000.0,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,115000.0,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,115000.0,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,115000.0,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,115000.0,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."