In [1]:
# Import libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)

/opt/anaconda3/envs/python_course/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df['job_posted_month'] = df['job_posted_date'].dt.strftime('%b')
months = df['job_posted_month'].unique()
dict_months = {month: df[df['job_posted_month'] == month] for month in months}
df_q1 = pd.concat([dict_months['Jan'], dict_months['Feb'], dict_months['Mar']], ignore_index = True)

In [3]:
df_q1.head().to_clipboard(sep = ',')

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
0,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,,,,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']","{'analyst_tools': ['power bi', 'tableau'], 'programming': ['r', 'python', 'sql', 'nosql']}",Jan
1,Data Scientist,Data Scientist,"Zaventem, Belgium",via BeBee Belgique,Full-time,False,Belgium,2023-01-31 13:53:38,False,False,Belgium,,,,Devoteam,"['r', 'python', 'sql', 'pandas', 'numpy', 'scikit-learn', 'matplotlib', 'hadoop', 'spark']","{'libraries': ['pandas', 'numpy', 'scikit-learn', 'matplotlib', 'hadoop', 'spark'], 'programming': ['r', 'python', 'sql']}",Jan
2,Data Engineer,Data Engineer,"Fort Worth, TX",via LinkedIn,Full-time,False,"Texas, United States",2023-01-25 13:24:01,False,False,United States,,,,Programmers.io,"['sql', 'python']","{'programming': ['sql', 'python']}",Jan
3,Data Engineer,Data Engineer,"San Mateo, CA",via LinkedIn,Full-time,False,"California, United States",2023-01-28 13:07:30,False,True,United States,,,,Verkada,"['sql', 'python', 'aws', 'looker']","{'analyst_tools': ['looker'], 'cloud': ['aws'], 'programming': ['sql', 'python']}",Jan
4,Data Scientist,Data Scientist,"São Paulo, State of São Paulo, Brazil",via BeBee,Full-time,False,Brazil,2023-01-03 23:02:27,False,False,Brazil,,,,Mars,"['python', 'sql', 'azure']","{'cloud': ['azure'], 'programming': ['python', 'sql']}",Jan

In [9]:
df_q1.to_csv('quarter1.csv')

In [10]:
pd.read_csv('quarter1.csv', index_col = 0)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
0,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,NaN,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr...",Jan
1,Data Scientist,Data Scientist,"Zaventem, Belgium",via BeBee Belgique,Full-time,False,Belgium,2023-01-31 13:53:38,False,False,Belgium,NaN,NaN,NaN,Devoteam,"['r', 'python', 'sql', 'pandas', 'numpy', 'sci...","{'libraries': ['pandas', 'numpy', 'scikit-lear...",Jan
2,Data Engineer,Data Engineer,"Fort Worth, TX",via LinkedIn,Full-time,False,"Texas, United States",2023-01-25 13:24:01,False,False,United States,NaN,NaN,NaN,Programmers.io,"['sql', 'python']","{'programming': ['sql', 'python']}",Jan
3,Data Engineer,Data Engineer,"San Mateo, CA",via LinkedIn,Full-time,False,"California, United States",2023-01-28 13:07:30,False,True,United States,NaN,NaN,NaN,Verkada,"['sql', 'python', 'aws', 'looker']","{'analyst_tools': ['looker'], 'cloud': ['aws']...",Jan
4,Data Scientist,Data Scientist,"São Paulo, State of São Paulo, Brazil",via BeBee,Full-time,False,Brazil,2023-01-03 23:02:27,False,False,Brazil,NaN,NaN,NaN,Mars,"['python', 'sql', 'azure']","{'cloud': ['azure'], 'programming': ['python',...",Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220479,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,NaN,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete...",Mar
220480,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,NaN,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi...",Mar
220481,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,NaN,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}",Mar
220482,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,NaN,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh...",Mar
220483,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,NaN,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}",Mar

In [12]:
df_q1.to_excel('quarter1.xlsx')

In [15]:
df_ger = df[df['job_location'] == 'Germany']

In [16]:
df_ger

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
1725,Data Engineer,Data Engineer SAP Reporting (m/w/d),Germany,via Indeed,Full-time,False,Germany,2023-11-06 14:09:43,True,False,Germany,None,NaN,NaN,Hays,"['sap', 'jira', 'confluence']","{'analyst_tools': ['sap'], 'async': ['jira', '...",Nov
2177,Data Scientist,Data Scientist Kundendatenauswertung,Germany,via BeBee Deutschland,None,False,Germany,2023-02-02 13:20:13,False,False,Germany,None,NaN,NaN,Hays AG,['r'],{'programming': ['r']},Feb
2618,Data Engineer,Remote: Data Engineers,Germany,via BeBee,"Full-time, Part-time, and Temp work",False,Germany,2023-11-03 13:13:20,False,False,Germany,None,NaN,NaN,Deutsche Bundesbank,"['hadoop', 'unix', 'linux', 'redhat']","{'libraries': ['hadoop'], 'os': ['unix', 'linu...",Nov
2904,Data Engineer,Data Engineer (m/f/d),Germany,via LinkedIn,Full-time,False,Germany,2023-06-05 13:38:44,True,False,Germany,None,NaN,NaN,PARTSCLOUD GmbH,"['python', 'sql', 'postgresql', 'aws', 'react'...","{'cloud': ['aws'], 'databases': ['postgresql']...",Jun
3099,Senior Data Scientist,Senior Data Scientist Remote,Germany,via BeBee,Full-time,False,Germany,2023-12-02 13:27:40,False,False,Germany,None,NaN,NaN,Deutsche Bahn AG,"['sql', 'spss']","{'analyst_tools': ['spss'], 'programming': ['s...",Dec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781829,Data Scientist,Data Scientist with Focus on Experience Analyses,Germany,via BeBee Deutschland,Full-time,False,Germany,2023-01-31 06:22:23,False,False,Germany,None,NaN,NaN,hannoverre,"['r', 'julia', 'python', 'go']","{'programming': ['r', 'julia', 'python', 'go']}",Jan
783250,Data Scientist,Data Scientist,Germany,via Jobs Trabajo.org,Full-time,False,Germany,2023-01-25 06:21:58,False,False,Germany,None,NaN,NaN,Picnic,"['python', 'sql', 'snowflake', 'scikit-learn',...","{'analyst_tools': ['tableau'], 'cloud': ['snow...",Jan
783636,Data Analyst,Data Analyst,Germany,via BeBee,Full-time,False,Germany,2023-09-09 07:01:50,True,False,Germany,None,NaN,NaN,STRATO Personal GmbH,['sap'],{'analyst_tools': ['sap']},Sep
783879,Data Scientist,Data Scientist,Germany,via BeBee,Full-time,False,Germany,2023-10-23 06:11:26,False,False,Germany,None,NaN,NaN,Deichmann Digital,None,None,Oct
785168,Data Analyst,Data Analyst COO Business Management,Germany,via BeBee,Full-time,False,Germany,2023-11-09 06:38:25,False,False,Germany,None,NaN,NaN,EON Energie Deutschland,"['sql', 'power bi']","{'analyst_tools': ['power bi'], 'programming':...",Nov

In [19]:
df_ger.to_csv('data_jobs_ger.csv',  index=False)

In [20]:
df_ger.to_excel('data_jobs_ger.xlsx',  index=False)